		<%- include('header.html') %>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<%- include('sidebar.html') %>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="index.html">首页</a>
							</li>
							<li class="active">编辑分类</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								编辑分类
							</h1>
						</div><!-- /.page-header -->

					<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">分类名称:</label>

								<div class="col-sm-10">
									<input type="text" id="form-field-1" value="<%= data.categoryname %>" placeholder="" class="col-xs-10 col-sm-5">
									<input type="text" id="id" hidden value="<%= data.id %>" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-2">分类排序号:</label>

								<div class="col-sm-10">
									<input type="text" id="form-field-2" value="<%= data.sort %>" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">分类描述:</label>

								<div class="col-sm-10">
									<textarea type="password"  id="form-field-3" placeholder="" class="col-xs-10 col-sm-5"><%= data.describe %></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">分类图标:</label>

								<div class="col-sm-10">
									<input type="text" id="form-field-4" value="<%= data.imgurl %>" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>



							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">分类状态:</label>

								<div class="col-sm-10" id="status">
									<% if(data.status === '显示'){ %>
										<label class="checkbox-inline">
											<input type="radio" id="inlineCheckbox1" checked value="显示" name="role"> 显示
										</label>
										<label class="checkbox-inline">
											<input type="radio" id="inlineCheckbox2" value="隐藏" name="role"> 隐藏
										</label>
									<% }else{ %>
										<label class="checkbox-inline">
											<input type="radio" id="inlineCheckbox1_1" checked value="显示" name="role"> 显示
										</label>
										<label class="checkbox-inline">
											<input type="radio" id="inlineCheckbox2_2" value="隐藏" name="role"> 隐藏
										</label>
									<% } %>
								</div>
							</div>
							<div class="form-group">

								<div class="col-sm-6 center">
									<button class="btn btn-primary" id="save">保存</button>
									<button class="btn btn-danger">取消</button>
								</div>
							</div>
					</form>

					</div>
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->


		<%- include('footer.html') %>
		<script>
            $(function () {
                $('#save').click(function (ev) {
                    ev.preventDefault();
                    $.post('/admin/category/edit_save',{
                        id: $('#id').val(),
                        categoryname: $('#form-field-1').val(),
                        sort: $('#form-field-2').val(),
						describe: $('#form-field-3').val(),
						imgurl: $('#form-field-4').val(),
                        status: $('#status input:checked').val()
                    }, function (result) {
                        // console.log(result);
                        if (result.success === 'success') {
                            alert(result.data);
                            window.location.href = '/admin/category/list'
                        }
                    })
                })
            })
		</script>
</body>
</html>

