<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="footer" class="footer">
    <div class="wrap">
        <div class="logo center" id="footerLogo">
            <img src="./home/img/index/logo.png"/>
        </div>
        <div class="footer-text">
            <p><a href="#">学习路线</a>|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">资料下载</a>|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">会员</a>|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">常见问题</a>|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">QQ交流群</a>|&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p id="info">
                <span>课程内容版权归课程内容版权归</span>  <span>蜀ICP备15031208号-3</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
