<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="footer" class="footer">
        <div class="wrap">
            <div class="logo center" id="footerLogo">
                <img src="<%= system.logo %>"/>
            </div>
            <div class="footer-text">
                <p>
                    <% link.forEach(function(item){ %>
                        <a href="<%= item.url %>"><%= item.linkname %></a>|&nbsp;&nbsp;&nbsp;&nbsp;
                    <!--<a href="#">资料下载</a>|&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<a href="#">会员</a>|&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<a href="#">常见问题</a>|&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<a href="#">QQ交流群</a>|&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <% }) %>
                </p>
                <p id="info">
                    <span><%= system.copyright %></span>  <span><%= system.info %></span>
                </p>
            </div>
        </div>
    </div>
    <script src="/admin/js/jquery-2.0.3.min.js"></script>
</body>
</html>
