<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/home/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="/home/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/home/css/index.css"/>
	</head>
	<body>
		<%- include('header.html') %>
		<div id="content" class="content">
			<div class="wrap clearfix">
				<div class="content-text" id="content-text">
					<h1><%= system.title %></h1>
					<h2><%= system.subheading %></h2>
					<p><%= system.describe %></p>
					<div class="wechat" id="wechat">
						<div class="img center" id="wechatlogo">
							<img src="<%= system.wechatLogo %>"/>
						</div>

						<div class="text" id="text">
							<p>打开微信，扫码进入小程序使用手机学习</p>
						</div>

					</div>
					<div class="text-item">
						<img src="/home/img/index/course.png"/> 学习路线
					</div>
					<div class="text-item">
						<img src="/home/img/index/return.png"/> 常见问题
					</div>
					<div class="text-item">
						<img src="/home/img/index/qq.png"/> QQ交流群
					</div>
				</div>
				<div class="content-list clearfix" id="content-list">
					<% category.forEach(function(item){ %>
						<a class="list-item" href="/category/<%= item.categoryname %>">
							<span><%= item.categoryname %></span> <br />
							<span><%= item.describe %></span>
						</a>
					<% }) %>
					<!--<div class="list-item" id="list-item-2">-->
						<!--<span>进阶实战</span> <br />-->
						<!--<span>Vue项目实战</span>-->
					<!--</div>-->
					<!--<div class="list-item" id="list-item-3">-->
						<!--<span>高级修炼</span> <br />-->
						<!--<span>node.js</span>-->
					<!--</div>-->
					<!--<div class="list-item" id="list-item-4">-->
						<!--<span>战力强化</span> <br />-->
						<!--<span>React、Angular</span>-->
					<!--</div>-->
					<!--<div class="list-item" id="list-item-5">-->
						<!--<span>移动开发</span> <br />-->
						<!--<span>App、微信开发</span>-->
					<!--</div>-->
					<!--<div class="list-item" id="list-item-6">-->
						<!--<span>Python全栈</span> <br />-->
						<!--<span>向全栈进击</span>-->
					<!--</div>-->
				</div>
			</div>
		</div>
		<%- include('footer.html') %>
		<!--<script src="/home/js/base.js"></script>-->
		<script>
			$(function () {
				// $('#nav a').click(function () {
                //     $('#nav a').removeClass('active');
                //     $(this).addClass('active')
                // })
				$('#nav a:eq(0)').addClass('active')
            })
		</script>
	</body>
</html>
