<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="./home/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="./home/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="./home/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="./home/css/login.css"/>
		<link rel="stylesheet" type="text/css" href="./home/css/register.css"/>
		<style>
			.message-email,.message-password{
				padding-top: 10px;
			}
			#btn{
				margin-top: 10px;
				outline: none;
			}
			#btn:active{
				background-color: orange;
				border: none;
				padding: 7px 54px;
				font-size: 23px;
				color: white;
				border-radius: 5px;
				cursor: pointer;
				outline: none;
			}
		</style>
	</head>
	<body>
		<%- include('header.html') %>
		<div id="content" class="content">
			<div class="wrap">
				<div class="login">
					<h3>注册</h3>
					<div class="group">
						<label for="email"></label>
						<input type="text" name="" id="email" value="" required placeholder="邮箱"/>
						<div class="message-email"></div>
					</div>
					<div class="group">
						<label for="password" class="password"></label>
						<input type="password" name="" id="password" value="" required placeholder="密码"/>
					</div>
					<div class="group">
						<label for="repassword" class="password"></label>
						<input type="password" name="" id="repassword" value="" required placeholder="确认密码"/>
						<div class="message-password"></div>
					</div>
					<button id="btn">注册</button><br />
					<a href="#">直接登录</a>

				</div>
			</div>
		</div>
		<%- include('footer.html') %>
		<script src="/admin/js/jquery-2.0.3.min.js"></script>
		<script>
            $(function () {
				$('#email').blur(function () {
					// 发送请求
					$.get('/getuser', {email: $('#email').val()}, function (result) {
                        if (result.success === 'error') {
                            $('.message-email').html(result.data).css('color','red');
						} else {
                            $('.message-email').html(result.data).css('color','green');
						}
                    })
                });
                $('#btn').click(function () {
                    if ($('#email').val() === '') {
                        $('.message-email').html('邮箱不能为空').css('color','red');
                        return;
                    }
					if ($('#password').val() === '' || $('#repassword').val() === '') {
                        $('.message-password').html('密码不能为空').css('color','red');
                        return;
					}
                    if ($('#password').val() !== $('#repassword').val()) {
                        $('.message-password').html('两次密码输入不一致').css('color','red');
                        return;
                    }
                    if ($('.message-email').text() === '邮箱不能为空') {
                        alert($('.message-email').text());
                        return;
					}
                    $.post('/register', {email: $('#email').val(), password: $('#password').val()}, function (result) {
                        if (result.success === 'success') {
                            alert(result.data);
                            window.location.href = '/signin'
						}
                    })
                })
            })
		</script>
	</body>
</html>
